body {
    height: 1000px; 
    margin: 0;
    background-color: #e8f3e3;
    font-family: "Comic Sans MS", sans-serif;
}

header {
    position: fixed;
    width: 100%;
    height: 30px;
    background-color: #3498db; 
    color: #032130;
    display: flex;
    align-items: center;
    transition: background-color 0.2s ease;
    font-family: "Comic Sans MS", serif;
    padding-left: 10px;
}

h1{
    font-size: 20px;
    font-style: italic;
}
h2{
    font-size: 15px;
}
#alumno{
    padding-top: 30px;
    padding-left: 15px;
}

#extra{
        padding-left: 15px;
}
